.version.index /* version checker */
{
	color: #0000F5;
	background-color: #850A60;
}

.html
{
	background: #23221E url("../images/brown_fabric_texture.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 1659.9500000000007px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	background: transparent url("../images/fondo.png") repeat left top;
}

#page_position_content
{
	margin-top: -286px;
}

#pu1992
{
	width: 0.01px;
	margin-left: -1px;
}

#u1992
{
	z-index: 4;
	width: 892px;
	position: relative;
	margin-right: -10000px;
	margin-top: 780px;
	left: 66px;
}

#u1625
{
	z-index: 6;
	width: 1025px;
	position: relative;
	margin-right: -10000px;
}

#u1625_img
{
	padding-bottom: 1px;
}

#u1690
{
	z-index: 37;
	width: 849px;
	position: relative;
	margin-right: -10000px;
	margin-top: 830px;
	left: 89px;
}

#u1824
{
	z-index: 41;
	width: 90px;
	height: 185px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 116px;
	left: 594px;
}

#U2640_animation
{
	width: 90px;
	height: 185px;
	border: none;
}

#u1997
{
	z-index: 42;
	width: 938px;
	position: relative;
	margin-right: -10000px;
	margin-top: 248px;
	left: 21px;
}

#u2002
{
	z-index: 44;
	width: 68px;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 949px;
}

#u2007
{
	z-index: 46;
	width: 33px;
	position: relative;
	margin-right: -10000px;
	margin-top: 293px;
	left: 48px;
}

#u2575
{
	z-index: 52;
	width: 1027px;
	position: relative;
	margin-right: -10000px;
	margin-top: 842px;
	left: 4px;
}

#u2466
{
	z-index: 53;
	width: 902px;
	position: relative;
	margin-right: -10000px;
	margin-top: 584px;
	left: 49px;
}

#u2468
{
	z-index: 55;
	width: 878px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 69px;
}

#u2488
{
	z-index: 56;
	width: 878px;
	position: relative;
	margin-right: -10000px;
}

#slideshowu2489
{
	z-index: 57;
	width: 0.01px;
	height: 633px;
	position: relative;
	margin-right: -10000px;
}

#u2510
{
	position: absolute;
	width: 876px;
	height: 540px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: 1px;
}

#u2510popup
{
	z-index: 58;
}

#u2521
{
	z-index: 59;
	width: 876px;
	height: 540px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2511
{
	z-index: 61;
	width: 876px;
	height: 540px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2513
{
	z-index: 63;
	width: 876px;
	height: 540px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2517
{
	z-index: 65;
	width: 876px;
	height: 540px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2523
{
	z-index: 67;
	width: 876px;
	height: 540px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2515
{
	z-index: 69;
	width: 876px;
	height: 540px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2519
{
	z-index: 71;
	width: 876px;
	height: 540px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2521_img,#u2511_img,#u2513_img,#u2517_img,#u2523_img,#u2515_img,#u2519_img
{
	padding-top: 1px;
	padding-bottom: 1px;
}

#u2536
{
	position: absolute;
	width: 620px;
	top: 570px;
	left: 129px;
}

#u2536popup
{
	z-index: 73;
}

#u2539
{
	z-index: 74;
	width: 80px;
	height: 60px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
}

#u2539:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u2543
{
	z-index: 76;
	width: 80px;
	height: 60px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 90px;
}

#u2543:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u2547
{
	z-index: 78;
	width: 80px;
	height: 60px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 180px;
}

#u2547:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u2541
{
	z-index: 80;
	width: 80px;
	height: 60px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 270px;
}

#u2541:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u2549
{
	z-index: 82;
	width: 80px;
	height: 60px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 360px;
}

#u2549:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u2545
{
	z-index: 84;
	width: 80px;
	height: 60px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 450px;
}

#u2545:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u2537
{
	z-index: 86;
	width: 80px;
	height: 60px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u2537:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px -10000px 0px 0px;
}

#u2539.SSSlideLinkSelected,#u2543.SSSlideLinkSelected,#u2547.SSSlideLinkSelected,#u2541.SSSlideLinkSelected,#u2549.SSSlideLinkSelected,#u2545.SSSlideLinkSelected,#u2537.SSSlideLinkSelected
{
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 80px;
	height: 59px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	border-width: 0px 0px 1px;
}

#u2539_img,#u2543_img,#u2547_img,#u2541_img,#u2549_img,#u2545_img,#u2537_img
{
	padding-top: 5px;
	padding-bottom: 6px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u2551
{
	z-index: 88;
	width: 957px;
	position: relative;
	margin-right: -10000px;
}

#u2553
{
	z-index: 90;
	width: 74px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 953px;
}

#u2555
{
	z-index: 92;
	width: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 26px;
}

#u2576
{
	z-index: 94;
	width: 200px;
	min-height: 483px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 301px;
	left: 87px;
}

#u1035
{
	z-index: 8;
	width: 849px;
	margin-left: 87px;
	margin-top: 30px;
	position: relative;
}

#pu2673
{
	width: 0.01px;
	margin-left: 120px;
	margin-top: 27px;
}

#u2673
{
	z-index: 150;
	width: 231px;
	position: relative;
	margin-right: -10000px;
}

#u2651-7
{
	z-index: 129;
	width: 535px;
	min-height: 123px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 263px;
}

#pu2652-7
{
	width: 0.01px;
	margin-left: 144px;
	margin-top: 48px;
}

#u2652-7
{
	z-index: 136;
	width: 427px;
	min-height: 116px;
	text-align: right;
	position: relative;
	margin-right: -10000px;
}

#u2678
{
	z-index: 152;
	width: 276px;
	position: relative;
	margin-right: -10000px;
	left: 458px;
}

#pu2688
{
	width: 0.01px;
	margin-left: 87px;
	margin-top: 43px;
}

#u2688
{
	z-index: 154;
	width: 251px;
	position: relative;
	margin-right: -10000px;
}

#u2653-7
{
	z-index: 143;
	width: 621px;
	min-height: 124px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 273px;
}

#u2651-3,#u2652-3,#u2653-3
{
	font-size: 28px;
	color: #D7D7D7;
}

#u2651-5,#u2652-5,#u2653-5
{
	font-size: 20px;
	line-height: 2.5;
	color: #ACAEAC;
	font-style: italic;
}

#pu1581-27
{
	width: 0.01px;
	margin-left: 87px;
	margin-top: 40px;
}

#u1581-27
{
	z-index: 10;
	width: 352px;
	min-height: 205px;
	color: #8A8A8A;
	line-height: 1.5;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 41px;
}

#u1581-4,#u1581-6,#u1581-11,#u1581-13,#u1581-15,#u1581-20,#u1581-21,#u1581-25
{
	font-size: 12px;
}

#u1725
{
	z-index: 39;
	width: 183px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 771px;
}

#u2627-13
{
	z-index: 114;
	width: 353px;
	min-height: 205px;
	color: #8A8A8A;
	line-height: 1.5;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 457px;
}

#u1581-2,#u1581-23,#u2627-2
{
	font-size: 16px;
}

#u2627-4,#u2627-6,#u2627-8,#u2627-9,#u2627-11
{
	font-size: 13px;
}

#u2648
{
	z-index: 127;
	width: 849px;
	position: relative;
	margin-right: -10000px;
}

#u2582
{
	z-index: 95;
	width: 849px;
	margin-left: 89px;
	margin-top: 2px;
	position: relative;
}

#pu2462-4
{
	width: 0.01px;
	margin-left: 128px;
	margin-top: 4px;
}

#u2462-4
{
	z-index: 48;
	width: 384px;
	min-height: 19px;
	color: #8A8A8A;
	font-size: 12px;
	line-height: 1.5;
	position: relative;
	margin-right: -10000px;
}

#u2585-17
{
	z-index: 97;
	width: 385px;
	min-height: 19px;
	color: #8A8A8A;
	font-size: 12px;
	line-height: 1.5;
	text-align: right;
	position: relative;
	margin-right: -10000px;
	left: 384px;
}

#u2585-3,#u2585-6,#u2585-9,#u2585-12
{
	color: #7F7F7F;
}

#u2633
{
	z-index: 2;
	width: 1025px;
	left: -1px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 284px;
	padding-bottom: 46px;
}

#page .verticalspacer
{
	clear: both;
}

